{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">

<nav id="main-menu">
    <ul class="nav-bar">
        <li class="nav-button-img"><img src="{% static 'images/logo.jpeg' %}" alt="" width="38px" height="35px"></li>
        <li class="nav-button-home"><a href="{% url 'home' %}">Home</a></li>
        <li class="nav-button-Services"><a href="{% url 'book' %}" id="Services">Book Raddiwala</a></li>
        </li>
        {% if user.username == "admin" %}
        <li class="nav-button-Services"><a href="{% url 'bookings' %}" id="Services">Bookings</a></li>
        {% endif %}
        <li class="nav-button-RateCard"><a href="{% url 'rate' %}">Rate Card</a></li>
        <li class="nav-button-Aboutus"><a href="{% url 'about' %}">About Us</a></li>
        <li class="nav-button-Contactus"><a href="{% url 'contact' %}">Contact Us</a></li>
        {% if user.is_authenticated %}
        <li class="nav-button-Login" id="login"><a href="{% url 'logout' %}" id="log">Logout</a></li>
        <li class="nav-button-Login" id="login" style="float: right; margin-right: 10px"><a id="log">Hi, {{ user }}</a>
        </li>
        {% else %}
        <li class="nav-button-Login" id="login"><a href="{% url 'login' %}" id="log">Login</a></li>
        {% endif %}
    </ul>
</nav>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>