{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
  href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@700&family=Texturina:wght@100;200;300&display=swap"
  rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap" rel="stylesheet" />
<link href="{% static 'css/fontawesome/css/all.min.css' %}" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'css/rate.css' %}">

<div class="tm-container">
  <div class="tm-text-white tm-page-header-container">
    <h1 class="tm-page-header">Raddiwala</h1>
  </div>
  <div class="tm-main-content">
    <div id="tm-intro-img"></div>
    <section class="tm-section">
      <h1 class="tm-section-header">Scrap type</h1>
      <div class="tm-responsive-table">
        <table>
          <tr>
            <td class="tm-text-left">Newspaper/Books/Magazines</td>
            <td>Rs.10/kg</td>
          </tr>

          <tr>
            <td class="tm-text-left">Carboard/Cartons</td>
            <td>Rs.9/kg</td>
          </tr>

          <tr>
            <td class="tm-text-left">Plastic (material)</td>
            <td>Rs.12/kg</td>
          </tr>

          <tr>
            <td class="tm-text-left">Tin (material)</td>
            <td>Rs.6/kg</td>
          </tr>

          <tr>
            <td class="tm-text-left">Iron (material)</td>
            <td>Rs.21/kg</td>
          </tr>

          <tr>
            <td class="tm-text-left">Steel (material)</td>
            <td>Rs.35/kg</td>
          </tr>

          <tr>
            <td class="tm-text-left">Copper (material)</td>
            <td>Rs.360/kg</td>
          </tr>

          <tr>
            <td class="tm-text-left">Aluminium (material)</td>
            <td>Rs.90/kg</td>
          </tr>

          <tr>
            <td class="tm-text-left">Brass (material)</td>
            <td>Rs.270/kg</td>
          </tr>

          <tr>
            <td class="tm-text-left">E-waste</td>
            <td>Rs.35/kg</td>
          </tr>
        </table>
      </div>
    </section>

    <!-- MORE ITEMS MENU -->
    <section class="tm-section">
      <h2 class="tm-section-header">We also take in:</h2>
      <div class="tm-responsive-table">
        <table>
          <tr class="tm-tr-header">

          </tr>

          <tr>
            <td class="tm-text-left">Chair</td>
            <td>Rs.40/kg</td>
          </tr>

          <tr>
            <td class="tm-text-left">Bicycle (assembled or non-assembled)</td>
            <td>Rs.150/piece</td>
          </tr>

          <tr>
            <td class="tm-text-left">CRT TV 14inch</td>
            <td>Rs.100/piece</td>
          </tr>

          <tr>
            <td class="tm-text-left">CRT TV 21inch</td>
            <td>Rs.150/piece</td>
          </tr>

          <tr>
            <td class="tm-text-left">UPS Battery small</td>
            <td>Rs.65/kg</td>
          </tr>

          <tr>
            <td class="tm-text-left">Inverter Battery</td>
            <td>Rs.70/kg</td>
          </tr>

          <tr>
            <td class="tm-text-left">Automatic Washing Machine</td>
            <td>Rs.700/piece</td>
          </tr>

          <tr>
            <td class="tm-text-left">Air Conditioner 1 ton</td>
            <td>Rs.2000/piece</td>
          </tr>

          <tr>
            <td class="tm-text-left">Air Conditioner 1.5 ton</td>
            <td>Rs.2500/piece</td>
          </tr>

          <tr>
            <td class="tm-text-left">Air Conditioner 2 ton</td>
            <td>Rs.3000/piece</td>
          </tr>

          <tr>
            <td class="tm-text-left">Bike</td>
            <td>Rs.2000/piece</td>
          </tr>

          <tr>
            <td class="tm-text-left">Car</td>
            <td>Rs.20000/piece</td>
          </tr>

        </table>
      </div>
    </section>
  </div>
</div>


<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
{% endblock content %}